:host {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3{
  color: rgb(81, 0, 136);
  align-content: center;
  justify-content: center;
  display: flex;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130%;
  object-fit: cover; /* Esto hace que el video no se estire feo */
  z-index: -1; /* Lo envía al fondo de todo */
}

p{
  align-content: center;
  justify-content: center;
  display: flex;
  padding-top: 10px;
}

.shape {
  position: absolute;
  border-radius: 50%;
  animation: float 5s ease-in-out infinite;
}

.recuadro {
  position: relative;
  width: 350px;
  height: 480px;
  max-width: 500px;
  padding: 40px;
  -webkit-backdrop-filter: blur(15px);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 50px rgb(25, 29, 48, 0.3);
  top: 50%;
  margin-top: 180px;
}
.profile-icon img {
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin-bottom: 30px;
}
.datos{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  display: block;
  padding: 20px;
}

.boton-login {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

button{
  margin: 3px;
  border-color: #510088;
  color: #510088;
}

.input-error {
  border: 2px solid red !important;
  background-color: #ffe6e6; /* Un fondo rojizo suave */
}

.profile-circle {
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0.2); /* Gris translúcido */
  border-radius: 50%;                   /* Lo hace circular */
  margin: 0 auto 20px;                  /* Lo centra y da espacio abajo */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;                      /* Tamaño del emoji */
}
.title {
  font-family: "Arial";
  margin-top: 0px;

}

@keyframes float {
  0%,100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }
}
