<main class="main" *ngIf="cargado">
  <div class="shape shape-1"></div>
  <div class="shape shape-2"></div>
  <div class="shape shape-3"></div>
  <div class="shape shape-4"></div>
  <div class="recuadro">

    <div class="encabezado">
      <h1><i class="fa-regular fa-circle-user icono"></i>
        <p>{{ nombre }}</p> <i class="fa-regular fa-id-card icono"></i>
        <p>id: {{ id }}</p> <i class="fa-solid fa-at icono"></i>
        <p>{{ tipoAdministrativo }}</p></h1>
      <button (click)="salir()" type="button" class="btn btn-danger boton-salir"><i class="fa-solid fa-arrow-right-from-bracket"></i>
      </button>
    </div>

    <div class="administrador-botones" *ngIf="tipoAdministrativo !== 'Conductor' && tipoAdministrativo !== 'Manipulador' && menu === 'administrador-principal'">
      <app-admin-menu-principal (menu)="seleccionarMenu($event)" ></app-admin-menu-principal>
    </div>
    <div class="administrador-botones" *ngIf="tipoAdministrativo !== 'Conductor' && tipoAdministrativo !== 'Manipulador' && menu === 'administrador-usuarioNormal'">
      <app-admin-menu-usuario-normal></app-admin-menu-usuario-normal>
    </div>
    <div class="administrador-botones" *ngIf="tipoAdministrativo !== 'Conductor' && tipoAdministrativo !== 'Manipulador' && menu === 'administrador-usuarioPremium'">
      <app-admin-menu-usuario-premium></app-admin-menu-usuario-premium>
    </div>
    <div class="administrador-botones" *ngIf="tipoAdministrativo !== 'Conductor' && tipoAdministrativo !== 'Manipulador' && menu === 'administrador-usuarioConcurrente'">
      <app-admin-menu-usuario-concurrente></app-admin-menu-usuario-concurrente>
    </div>
    <div class="administrador-botones" *ngIf="tipoAdministrativo !== 'Conductor' && tipoAdministrativo !== 'Manipulador' && menu === 'administrador-administrador'">
      <app-admin-menu-administrador></app-admin-menu-administrador>
    </div>
    <div class="administrador-botones" *ngIf="tipoAdministrativo !== 'Conductor' && tipoAdministrativo !== 'Manipulador' && menu === 'administrador-conductor'">
      <app-admin-menu-conductor></app-admin-menu-conductor>
    </div>
    <div class="administrador-botones" *ngIf="tipoAdministrativo !== 'Conductor' && tipoAdministrativo !== 'Manipulador' && menu === 'administrador-manipulador'">
      <app-admin-menu-manipulador></app-admin-menu-manipulador>
    </div>
    <div class="administrador-botones" *ngIf="tipoAdministrativo !== 'Conductor' && tipoAdministrativo !== 'Manipulador' && menu === 'administrador-paqueteCarta'">
      <app-admin-menu-carta></app-admin-menu-carta>
    </div>
    <div class="administrador-botones" *ngIf="tipoAdministrativo !== 'Conductor' && tipoAdministrativo !== 'Manipulador' && menu === 'administrador-paqueteAlimenticio'">
      <app-admin-menu-paquete-alimenticio></app-admin-menu-paquete-alimenticio>
    </div>
    <div class="administrador-botones" *ngIf="tipoAdministrativo !== 'Conductor' && tipoAdministrativo !== 'Manipulador' && menu === 'administrador-paqueteNoAlimenticio'">
      <app-admin-menu-paquete-no-alimenticio></app-admin-menu-paquete-no-alimenticio>
    </div>
    <div class="administrador-botones" *ngIf="tipoAdministrativo === 'Conductor' && menu === 'conductor-principal'">
      <app-conductor-menu-principal (menu)="seleccionarMenu($event)" )></app-conductor-menu-principal>
    </div>
    <div class="administrador-botones" *ngIf="tipoAdministrativo === 'Conductor' && menu === 'conductor-evidencia'">
      <app-conductor-menu-evidencia></app-conductor-menu-evidencia>
    </div>
    <div class="administrador-botones" *ngIf="tipoAdministrativo === 'Conductor' && menu === 'conductor-actualizar'">
      <app-conductor-menu-actualizar [id]="id" ]></app-conductor-menu-actualizar>
    </div>
    <div class="administrador-botones" *ngIf="tipoAdministrativo === 'Manipulador' && menu === 'manipulador-principal'">
      <app-manipulador-menu-principal (menu)="seleccionarMenu($event)"></app-manipulador-menu-principal>
    </div>
    <div class="administrador-botones" *ngIf="tipoAdministrativo === 'Manipulador' && menu === 'manipulador-evidencia'">
      <app-manipulador-menu-evicencia [id]="id" ></app-manipulador-menu-evicencia>
    </div>
    <div class="administrador-botones" *ngIf="tipoAdministrativo === 'Manipulador' && menu === 'manipulador-actualizar'">
      <app-manipulador-menu-actualizar [id]="id" ></app-manipulador-menu-actualizar>
    </div>
  </div>
</main>

<div *ngIf="!cargado" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="spinner-border text-info" role="status">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>
