<main class="main" *ngIf="cargado">
  <div class="recuadro">

    <div class="encabezado">
      <h1><i class="fa-regular fa-circle-user icono"></i>
        <p>{{ nombre }}</p> <i class="fa-regular fa-id-card icono"></i>
        <p>id: {{ id }}</p> <i class="fa-solid fa-at icono"></i>
        <p>{{ tipoUsuario }}</p></h1>
      <button (click)="salir()" type="button" class="btn btn-danger boton-salir"><i class="fa-solid fa-arrow-right-from-bracket"></i>
      </button>
    </div>

    <div class="administrador-botones" *ngIf="menu === 'usuario-principal'">
      <app-usuarios-menu-principal (menu)="seleccionarMenu($event)" )></app-usuarios-menu-principal>
    </div>
    <div class="administrador-botones" *ngIf="menu === 'usuario-paquetes-alimencicios'">
      <app-usuarios-menu-paquetes-alimenticios></app-usuarios-menu-paquetes-alimenticios>
    </div>
    <div class="administrador-botones" *ngIf="menu === 'usuario-paquetes-no-alimencicios'">
      <app-usuarios-menu-paquetes-no-alimenticios></app-usuarios-menu-paquetes-no-alimenticios>
    </div>
    <div class="administrador-botones" *ngIf="menu === 'usuario-paquetes-carta'">
      <app-usuarios-menu-cartas></app-usuarios-menu-cartas>
    </div>

  </div>
</main>

<div *ngIf="!cargado" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="spinner-border text-info" role="status">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>
